#comments {
  padding: 1em;
}

#comments h1 {
  font-size: 1.5em;
}


.comment .user::after {
  content: " said:";
  
}

.comment .date {
  float: right;
}


.comment p::before {
  content: "\201C";
  color: gainsboro;
  vertical-align: -0.7em;
  font-size: 1.5em;
  
}
.comment p {
  background-color: #f0f0f0;
  margin-bottom: 1em;
  
}


#comments form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #f0f0f0;
  padding: 1em;
  gap:1em;
               
}
#comments h2{
  font-size: 1em;
  grid-column-end: span 4;
}
#comments form input {
  background-color: white;
  height: 2em;
}
#comments form textarea{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 6em;
  display: block;
  
  
} 
#comments form label{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-end: span 2;
  gap: 1em;
  align-items: center;
}

#comments form label:last-of-type {
  grid-column-end: span 4;
  grid-template-columns: auto 1fr;
}

#comments form button{
  width: auto;
  grid-column-start: 4;
  background-color: black;
  color:white;
  border: none;
  cursor: pointer;
  line-height: 3em;
}

button:hover{
  background-color: #333;
}