#comments {
  padding: 1em;
}

#comments h1 {
  font-size: 1.5em;
}


.comment .user::after {
  content: " said:";
  
}

.comment .date {
  float: right;
}


.comment p::before {
  content: "\201C";
  color: gainsboro;
  vertical-align: -0.7em;
  font-size: 1.5em;
  
}
.comment p {
  background-color: #f0f0f0;
  margin-bottom: 1em;
  
}

/* form{
  background-color: #f0f0f0;
  padding: 1em;
  flex-grow: 3;      
  display: flex; 
  flex-direction: column;
  justify-content: center;

}
input[type="text"],input[type="email"]{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
} */


form{
  background-color: #f0f0f0;
  padding: 1em;
               
}
input[type="text"],input[type="email"]{
  
  width: calc(46% - 1em); 
  border-color: black;
  display: inline 
}

textarea{
  margin-top: 1em;
  width: 94.5%;
  height: 10em;
  display: inline-block;
  vertical-align:middle;
  
}

form >button{
  padding: 0.7em;
  background-color: black;
  color: white;
  border: none;
  margin: 1em 0;
  cursor: pointer;
  display: block;
  margin-left: auto;
  width: 15%;
  font-size: 1.2em;
  text-align: center;
  
  
}

button:hover{
  background-color: #333;
}