body{
    background-color: #EDEFF0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "header header"
                       "menu  side"
                       "content  side"
                       "footer  side";

}

body > header {
    background-color: #046DD5;
    font-family: "Poppins";
    grid-area: header;
    display: flex;
    flex-direction: column;
}


#related{
    grid-area: side;
    padding: 1em;
}
#menu{
    grid-area: menu;

}
#menu ul{
    display: flex;
    flex-direction: row;

}
#menu ul li{
    flex-grow: 1;
}
body > header{
    grid-area: header;
    display: flex;
    flex-direction: column;
}
#signup{
    display: flex;
    justify-content: flex-end;
}
footer{
    grid-area: footer;
    margin-bottom: 1em;
}
#news{
    grid-area: content;
    background-color: white;
}
body > footer{
    background-color: #2A2F33;
    margin-bottom: 0;
    padding: 0 1em ;
}
