/* section#s1, section#s2 {
    float: left;
    width: 50%;
    
}
  
aside {
    text-align: center;
    float: right;
    border-right: 11.4em solid;
    border-left: 11.3em solid #f9c74f;
    border-bottom: 42.5em solid;
    border-color: #f9c74f;
    
}
footer{
    clear: both;
}
   */